.header{
  position: fixed;
  right: 50px;
  top: 50px;
  z-index: 2;
  .menu{
    width: 300px;
    height: 400px;
    background-color:#FF2F00;
    border-radius: 25px;
    position: relative;
  }
}