.project{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px 50px 100px;
    border-top: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.2s;
}
.project:last-of-type{
    border-bottom: 1px solid rgb(0, 0, 0);
}

.project:hover{
    opacity: 0.5;
}

.project:hover h2{
    transform: translateX(-10px);
}

.project:hover p{
    transform: translateX(10px);
}

.project h2{
    font-size: 60px;
    margin: 0px;
    font-weight: 400;
    transition: all 0.4s;
    color: black;
}

.project p{
    transition: all 0.4s;
    font-weight: 300;
    color: black;
}

.noHover:hover, .noHover:hover h2, .noHover:hover p {
    opacity: 1;
    transform: none;
}